
.content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .mainTitle {
    text-align: center;
    color: black;
  }

  .text {
    color: rgb(10, 0, 0);
    background-color: rgb(119, 123, 123);
    padding: 2px;
  }

  p{
    text-align: center;
  }