.content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  #mainTitle {
    text-align: center;
    color: black;
   
    width: 200px;
    margin-left: 250px;
  }
  
  #text {
    color: rgb(10, 0, 0);
    margin-left: 10px;
  }

  .fundo{
    position: relative;
    margin-top: 0px;
  }

  #image{
    top: 5px;
    left: 100px;
  }

  #texto{
    position: absolute;
    font-size: 25px;
    left: 220px;
    top: 200px;
    color: white;
  }

  p{
    text-align: center;
  }
